<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar bg-primary">
        <div class="container-fluid">
          <span class="text-light mb-0 h1">テンプレートアプリ</span>
        </div>
    </nav>

    <div class="container">
        <div class="px-4 pt-3 my-3 text-center border-bottom">
            <h1 class="display-4 fw-bold text-body-emphasis mb-3">テンプレート一覧</h1>
        </div>
        <div>
          <table>
        <tr>
          <td><a class="btn btn-light" th:href="@{/template/list}">全て</a></td>
          <td><a class="btn btn-light" th:href="@{/template/sort1}">受注時</a></td>
          <td><a class="btn btn-light" th:href="@{/template/sort2}">契約後</a></td>
          <td><a class="btn btn-light" th:href="@{/template/sort3}">その他</a></td>
        </tr>
      </table>
      </div>
      </table>
        <div class="px-4 pt-2 my-2 text-center" id="template">
            <table class="table table-striped" table id ="templateList">
                <thead>
                  <tr>
                    <th scope="col">種別</th>
                    <th scope="col">テンプレート</th>
                    <th scope="col" class="sort" data-sort="createdAt">作成日時</th>
                    <th scope="col" class="sort" data-sort="updatedAt">更新日時</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <!-- Sample Data -->
                  <tr　th:each="templateList : ${templateList}" th:object="${templateList}">
                    <td　th:text="*{typeId == 1 ? '受注時' : typeId == 2 ? '契約後' : 'その他'}">TypeId</td>
                    <td><a input type="text" class="form-control" placeholder="Template" th:id="'copyTarget' + ${templateList.id}" name="template" th:text="*{template}"></a></td>
                    <td class="createdAt" th:text="${#temporals.format(templateList.createdAt, 'yyyy/MM/dd HH:mm')}">Formatted createdAt</td>
                    <td class="updatedAt" th:text="${#temporals.format(templateList.updatedAt, 'yyyy/MM/dd HH:mm')}">Formatted updatedAt</td>
                    <td><a class="btn btn-success" th:href="@{/template/copyForm(id=${templateList.id})}">コピー</a></td>
                    <td><a class="btn btn-primary" th:href="@{/template/edit(id=${templateList.id})}">編集</a></td>
                    <td><a class="btn btn-danger" th:href="@{/template/delete(id=${templateList.id})}">削除</a></td>
                  </tr>
                </tbody>
              </table>
                <div >
                  <a type="button" class="btn btn-primary" th:href="@{/template/add}">＋テンプレを追加</a>
                </div>
        </div>
        
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
      var options = {
       valueNames: [ 'createdAt', 'updatedAt' ]
      };
      var templateList = new List('template', options);
      templateList.sort( 'updatedAt', {order : 'desc' });
    </script>

    <style>
    .sort.desc:after {
     content:"▼";
    }
    .sort.asc:after {
      content:"▲";
     }   
    </style>  
  </body>
</html>
